html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #e6e6e6;
}

.opsans {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	text-shadow: 2px 2px 0 white;
}

footer {
	height: 175px;
	background-color: #eee;
	margin-top: 25px;
}
.semmarg {
	margin: 0;
	padding: 0;
}